---
const { type, prodname } = Astro.params;
const prodtype = type;
import MainHead from "../../components/MainHead.astro";
import NavDesktop from "../../components/NavDesktop.astro";
import NavMobile from "../../components/NavMobile.astro";
import Kontakt from "../../components/Kontakt.astro";
import {
    getLangFromUrl,
    useTranslatedPath,
    useTranslations,
} from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const products = t("products.details.categories");

let currentType = null;
Object.keys(products).forEach(function (key) {
    if (products[key].slug == prodtype) {
        currentType = key;
    }
});

currentType = products[currentType];

var currentProduct = currentType.items.find((el) => el.slug == prodname);

var orderOfProduct = currentType.items.indexOf(currentProduct);
const nextLink =
    "/" +
    currentType.slug +
    "/" +
    currentType.items[(orderOfProduct + 1) % currentType.items.length].slug;
---

<html lang="en">
    <head>
        <MainHead
            title={currentProduct.title}
            description={t("products.meta.description") +
                currentProduct.descriptions[0]}
        />
    </head>

    <body>
        <div class="md:flex">
            <NavDesktop selectedMenu="novinky" />
            <NavMobile selectedMenu="novinky" isFixed={false} />
            <main class="w-full md:w-[80vw] h-full md:pt-20" id="novinky">
                <div class="container mx-auto px-4 flex flex-col pb-4">
                    <div
                        class="flex flex-col lg:flex-row md:gap-20 justify-start md:justify-between mb-12 md:mb-20"
                    >
                        <div class="w-full flex-1">
                            <div class="flex justify-between max-w-xl">
                                <a
                                    href={translatePath("/#novinky")}
                                    class="flex align-middle"
                                >
                                    <svg
                                        class="h-10 py-2"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="#6B7280"
                                    >
                                        <path
                                            d="M13.83 19a1 1 0 0 1-.78-.37l-4.83-6a1 1 0 0 1 0-1.27l5-6a1 1 0 0 1 1.54 1.28L10.29 12l4.32 5.36a1 1 0 0 1-.78 1.64z"
                                        ></path>
                                    </svg>
                                    <div class="flex justify-center flex-col">
                                        <div class="flex">
                                            <h2
                                                class="text-gray-500 font-bold text-xl"
                                            >
                                                {currentType.title}
                                            </h2>
                                            <!-- <p
                                                class="ml-2 text-gray-500 text-sm my-auto"
                                            >
                                                {
                                                    currentType.items.length >
                                                        1 && (
                                                        <span>
                                                            {" "}
                                                            | produkt{" "}
                                                            {orderOfProduct +
                                                                1}{" "}
                                                            /
                                                            {
                                                                currentType
                                                                    .items
                                                                    .length
                                                            }
                                                        </span>
                                                    )
                                                }
                                            </p> -->
                                        </div>
                                    </div>
                                </a>
                                <!-- {
                                    currentType.items.length > 1 && (
                                        <a
                                            href={nextLink}
                                            class="text-sm text-gray-500 my-auto"
                                        >
                                            nasledujúci
                                        </a>
                                    )
                                } -->
                            </div>
                            <div
                                class="img-container w-full relative overflow-hidden transition-all duration-500"
                            >
                                <img
                                    class="w-full object-cover active max-w-xl"
                                    src={"/assets/" + currentProduct.image}
                                    alt={currentProduct.title}
                                    id="prod-img"
                                    data-alt={"/assets/" +
                                        currentProduct.altImage}
                                    data-orig={"/assets/" +
                                        currentProduct.image}
                                />

                                <!-- {
                  currentProduct.altImage && (
                    <img
                      class="w-full md:h-[750px] object-cover absolute-top-0"
                      src={"/assets/" + currentProduct.altImage}
                      alt={currentProduct.title}
                      id="alt-img"
                    />
                  )
                } -->
                            </div>

                            {
                                currentProduct.altImage && (
                                    <p
                                        class="text-gray-500 pt-2 justify-end pr-32 cursor-pointer"
                                        id="next-img"
                                    >
                                        {t("utils.next-image")}
                                    </p>
                                )
                            }
                        </div>

                        <div class="w-full flex-1 mt-4">
                            <h1 class="text-xl font-medium">
                                {currentProduct.title.toUpperCase()}
                            </h1>
                            {
                                currentProduct.author && (
                                    <p class="text-gray-500 my-4">
                                        {t("products.authors")}{" "}
                                        {currentProduct.author}
                                    </p>
                                )
                            }

                            <div class="description">
                                {
                                    currentProduct.descriptions.map(
                                        (description) => (
                                            <p class="text-gray-500 my-4">
                                                <span set:html={description} />
                                            </p>
                                        )
                                    )
                                }
                            </div>

                            <p class="text-gray-500 my-4">
                                {t("products.send-order")}
                                <a
                                    href="mailto:vena@nextra.sk"
                                    class="font-bold">vena@nextra.sk</a
                                >
                            </p>

                            <a
                                href="mailto:vena@nextra.sk"
                                class="border py-1 px-3 border-gray-500 text-gray-500"
                                >{t("utils.contact")}
                            </a>
                            <!--          <p class="text-gray-500 text-sm">{{ photo.date }}</p>-->
                            <!--          <p class="text-gray-500 text-sm">{{ photo.location }}</p>-->
                            <!--          <p class="text-gray-500 text-sm">{{ photo.description }}</p>-->
                        </div>
                    </div>

                    <!-- show other product from same category -->
                    {
                        currentType.items.length > 1 && (
                            <div class="max-w-4xl">
                                <h3 class="font-semibold text-gray-500">
                                    {t("utils.all")} {currentType.title}
                                </h3>

                                <div class="grid grid-cols-2 md:grid-cols-4 justify-between gap-2 md:gap-8">
                                    {currentType.items.map((item) => (
                                        <a
                                            href={translatePath(
                                                "/" +
                                                    currentType.slug +
                                                    "/" +
                                                    item.slug
                                            )}
                                            class=" py-2"
                                        >
                                            <img
                                                class="w-full translate-y-0 aspect-square"
                                                src={"/assets/" + item.image}
                                                alt={item.title}
                                            />
                                            <p class="text-gray-500 text-sm pt-2">
                                                <span class="font-semibold">
                                                    {item.title}
                                                </span>
                                                <br />
                                                {item.author}
                                            </p>
                                        </a>
                                    ))}
                                </div>
                            </div>
                        )
                    }

                    <!-- show products from all categories except the currentOne -->
                    {
                        Object.keys(products).map(
                            (key) =>
                                key != currentType.slug && (
                                    <div class="mt-12 max-w-4xl">
                                        <h3 class="font-semibold text-gray-500">
                                            {products[key].title}
                                        </h3>

                                        <div class="grid grid-cols-2 md:grid-cols-4 justify-between gap-2 md:gap-8">
                                            {products[key].items.map((item) => (
                                                <a
                                                    href={translatePath(
                                                        "/" +
                                                            products[key].slug +
                                                            "/" +
                                                            item.slug
                                                    )}
                                                    class=" py-2"
                                                >
                                                    <img
                                                        class="w-full translate-y-0 aspect-square"
                                                        src={
                                                            "/assets/" +
                                                            item.image
                                                        }
                                                        alt={item.title}
                                                    />
                                                    <p class="text-gray-500 text-sm pt-2">
                                                        <span class="font-semibold">
                                                            {item.title}
                                                        </span>
                                                        <br />
                                                        {item.author}
                                                    </p>
                                                </a>
                                            ))}
                                        </div>
                                    </div>
                                )
                        )
                    }

                    <Kontakt />
                </div>
            </main>
        </div>
        <style>
            body {
                font-family: "Neue Haas Grotesk Display Pro", sans-serif;
            }

            img {
                transform: translateY(-120%);
                transition: all 1s ease-in-out;
                animation-delay: 0.5s;
            }

            img.active {
                transform: translateY(0);
            }
        </style>

        <script>
            let imageIndex = 0;
            if (document.getElementById("next-img")) {
                document.getElementById("next-img").onclick = function () {
                    let image = document.getElementById(
                        "prod-img"
                    ) as HTMLImageElement;
                    let imageContainer = document.querySelector(
                        ".img-container"
                    ) as HTMLDivElement;

                    imageIndex = (imageIndex + 1) % 2;
                    image.classList.toggle("active");
                    setTimeout(() => {
                        image.src =
                            imageIndex == 0
                                ? image.getAttribute("data-orig")
                                : image.getAttribute("data-alt");
                        image.classList.toggle("active");
                        image.onload = function () {
                            imageContainer.style.height =
                                image.clientHeight + "px";
                        };
                    }, 500);
                };
            }
        </script>
    </body>
</html>
