---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import { TimePassesItem } from "../i18n/data/time-passes";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const seasons = t("time-passes.seasons");

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/cas_plynie/*');

---

<style>
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none;
		/* IE and Edge */
		scrollbar-width: none;
		/* Firefox */
	}

	.scroll4::-webkit-scrollbar {
		width: 2px;
		height: 2px;
	}

	.scroll4::-webkit-scrollbar-thumb {
		background: #666;
		border-radius: 4px;
	}

	.scroll4::-webkit-scrollbar-track {
		background: #ddd;
		border-radius: 4px;
	}
</style>

<section id="cas-plynie" class="pt-20 min-h-[100vh] px-4">
	<h2 class="text-gray-500 font-medium text-2xl">Čas plynie</h2>
	<div class="season" id="listing">
		{
			seasons.map((season) => (
				<div class="my-12 listing">
					<h2 class="text-gray-500 text-lg font-semibold text-align-end mb-4">
						{season.headline}

						<span class="text-gray-500 pl-4 text-sm font-normal detail-btn cursor-pointer">
							detail
						</span>
					</h2>
					<div class="flex gap-2 md:w-[75vw] overflow-x-auto scroll4">
						{season.items.map((item) => (
							<Image
								src={images[item.filename]()}
								alt={item.title}
								class="h-[300px] md:h-[500px] mb-2 cas-plynie-img w-auto"
							/>
						))}
					</div>
					<p class="text-gray-500 mt-2">{season.description}</p>
				</div>
			))
		}
	</div>
	<div class="season grid-cols-1 md:grid-cols-2 hidden z-50" id="detail">
		{
			seasons.map((season, index) => (
				<div class="season-wrapper my-8">
					<div class="season-item max-w-[400px]">
						<h2 class="text-gray-500 text-lg font-semibold text-align-end mb-4">
							{season.headline}
						</h2>
						<div id={"season-" + index}>
							<Image
								src={images[season.items[0].filename]()}	
								alt={season.items[0].title}
								class="h-[550px] mb-2 object-contain cas-plynie img"
							/>
							<h4 class="text-gray-500 font-bold">
								{season.items[0].title}
							</h4>
							<div class="flex justify-between">
								<p class="text-gray-500">
									{season.items[0].description}
								</p>
								<div class="next">
									<p
										class="text-gray-500 next cursor-pointer hover-underline-animation"
										id={"next-" + index}
									>
										ďalšia
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			))
		}
	</div>
</section>

<script define:vars={{ seasons }}>
	// moving the sliders
	const elements = document.getElementsByClassName("scroll4");
	let pos = { top: 0, left: 0, x: 0, y: 0 };
	let currentEl = null;
	const mouseDownHandler = function (e) {
		currentEl = e.target;

		currentEl.style.cursor = "grabbing";
		currentEl.style.userSelect = "none";
		pos = {
			// The current scroll
			left: currentEl.scrollLeft,
			top: currentEl.scrollTop,
			// Get the current mouse position
			x: e.clientX,
			y: e.clientY,
		};

		document.addEventListener("mousemove", mouseMoveHandler);
		document.addEventListener("mouseup", mouseUpHandler);
	};

	const mouseMoveHandler = function (e) {
		// How far the mouse has been moved
		const dx = e.clientX - pos.x;
		const dy = e.clientY - pos.y;

		// Scroll the element
		currentEl.scrollTop = pos.top - dy;
		currentEl.scrollLeft = pos.left - dx;
	};

	const mouseUpHandler = function () {
		document.removeEventListener("mousemove", mouseMoveHandler);
		document.removeEventListener("mouseup", mouseUpHandler);

		currentEl.style.cursor = "grab";
		currentEl.style.removeProperty("user-select");
	};

	for (let i = 0; i < elements.length; i++) {
		elements[i].addEventListener("mousedown", mouseDownHandler);
	}

	// end moving sliders
	// hide sliders, show detail
	const detailBtns = document.getElementsByClassName("detail-btn");
	for (let i = 0; i < detailBtns.length; i++) {
		detailBtns[i].onclick = function () {
			let listings = document.getElementById("listing");
			listings.style.display = "none";
			let detail = document.getElementById("detail");
			detail.style.display = "grid";
		};
	}

	// end show detail

	// dalsie dielo btn, iterovanie v detaile
	let counters = [];

	const nexts = document.getElementsByClassName("next");

	for (let i = 0; i < seasons.length; i++) {
		counters[i] = 0;
	}

	for (let i = 0; i < nexts.length; i++) {
		nexts[i].onclick = function (e) {
			let seasonIndex = e.target.id.split("-")[1];
			counters[seasonIndex]++;
			if (counters[seasonIndex] > seasons[seasonIndex].items.length) {
				counters[seasonIndex] = 0;
			}

			let el = document.getElementById("season-" + seasonIndex);
			el.children[0].src =
				seasons[seasonIndex].items[counters[seasonIndex]].filename;
			el.children[1].textContent =
				seasons[seasonIndex].items[counters[seasonIndex]].title;
			el.children[2].children[0].textContent =
				seasons[seasonIndex].items[counters[seasonIndex]].description;
		};
	}

	// koniec iterovania, detail

	// Get the modal

	// Get the image and insert it inside the modal - use its "alt" text as a caption
	var imgs = document.querySelectorAll(".cas-plynie-img");

	for (let i = 0; i < imgs.length; i++) {
		imgs[i].onclick = (img) => {
			showModal(img.target.src, img.target.alt);
		};
	}
</script>
