---
	const seasons = [
		{
			headline: "1988 - EXISTENCIALIZMUS A MAGICKÁ PRAHA",
			description:
				"Pochopil som, že je potrebné byť otvorený a nechať sa inšpirovať všetkým, čo je človeku" +
				"blízke.",
			items: [
				{
					filename: "obdobie1dielo1.png",
					title: "Sen Sv. Šebastiána a horiaci ker ",
					description: "kresba, čierny prírodný uhol, koláž | 1988",
				},
				{
					filename: "obdobie1dielo2.png",
					title: "Dievča z Pigalle ",
					description: "čierny prírodný uhol | 1990",
				},
			],
		},
		{
			headline: "1996 - ZJAVENIE FARBY",
			description: "Fascinuje ma keď farba prichádza na papier prirodzene.",
			items: [
				{
					filename: "obdobie2d1.png",
					title: "Fastnacht in Helvetia ",
					description: "ceruzka, pastel | 1996",
				},
				{
					filename: "obdobie2d2.png",
					title: "Fastnacht in Helvetia",
					description: "ceruzka, pastel | 2004–2005",
				},
				{
					filename: "obdobie2d3.png",
					title: "La Dolce Vita",
					description: "ceruzka, pastel | 2003",
				},
				{
					filename: "obdobie2d4.png",
					title: "Bez názvu",
					description: "ceruzka, pastel, koláž | 2000",
				},
			],
		},
		{
			headline: "2005 - FRANCÚZSKY VPLYV",
			description: "Myslím si, že pekné prostredie nás zušľachťuje a robí",
			items: [
				{
					filename: "obdobie3d1.png",
					title: "Parížanka",
					description: " pastel, ceruzka, koláž na japonskom papieri | 2005",
				},
				{
					filename: "obdobie3d2.png",
					title: "Ružový sen Parížanky",
					description: " pastel, ceruzka, koláž na japonskom papieri | 2005",
				},
				{
					filename: "obdobie3d3.png",
					title: "Parížanka, tichá pošta",
					description: " pastel, ceruzka, koláž | 2005",
				},
			],
		},
		{
			headline: "2009 - AJ VIERA MÁ SVOJE TAJOMSTVÁ",
			description:
				"Vieru vnímam v ustavičnom pohybe a formovanú mojimi skúsenosťami a zážitkami.  Rozhodne to nie je nemenná dogma. Viera je nádej, pocit, zážitok, smútok i radosť. Je  to nedotknuteľná časť môjho ja.",
			items: [
				{
					filename: "obdobie4d1.png",
					title: "Svätá Veronika",
					description: " pastel, ceruzka, koláž na japonskom papieri | 2011",
				},
				{
					filename: "obdobie4d2.png",
					title: "Sv. Magdaléna",
					description: " ceruzka, pastel, koláž na japonskom papieri | 2012",
				},
				{
					filename: "kostol_sedem.jpg",
					title:
						"Pohľad do interiéru kostola Sedem - bolestnej Panny Márie v Bratislave, na pravej strane - Kristus, sedem sviatostí",
					fotoby: "Ivan Karlík",
					description:
						"ceruzka, pastel, koláž na japonskom papieri  nalepené na drevenej doske | 2009",
				},
			],
		},
		{
			headline: "2008 - TEXTY V OBRAZOCH, OBRAZY V TEXTOCH",
			description:
				"Som rád, že umenie nepozná hranice a s obľubou narúša tradičné pravidlá.",
			items: [
				{
					filename: "venovane_lutosti_ceruzka.jpg",
					title: "Venované ľútosti",
					description:
						" ceruzka, pastel, koláž s vpísaným textom Kamila Peteraja | 2010",
				},
				{
					filename: "plazime_sa_navzajom_cez_svoje_duse.jpg",
					title: "Plazíme sa navzájom cez svoje duše...",
					description:
						"ceruzka, pastel, koláž s vpísaným textom Kamila Peteraja | 2010",
				},
				{
					filename: "xxx_ceruzka.jpg",
					title: "XXX...",
					description:
						"ceruzka, pastel, koláž s vpísaným textom Kamila Peteraja | 2010",
				},
				{
					filename: "v_atelieri.jpg",
					title:
						"V ateliéri na Novohradskej ulici s básnikom Kamilom Peterajom pri práci na novom obraze, XXX 2013",
				},
				{
					filename: "xxx_ceruzka_2013.jpg",
					title: "XXX",
					description:
						" ceruzka, pastel, koláž s vpísaným textom Kamila Peteraja | 2013",
				},
			],
		},
		{
			headline: "2016 - MAĽBA UTKANÁ ZO SNOV",
			description:
				"Keď maľujem snažím sa o znázornenie harmónie medzi telesným a duchovným svetom.",
			items: [
				{
					title: "Horizonty",
					filename: "obdobie6d1.png",
					description: "akryl na plátne | 2016",
				},
				{
					title: "Z hĺbky duše",
					filename: "obdobie6d2.png",
					description: "akryl na plátne | 2018",
				},
				{
					title: "Dotyk - anjel strážny",
					filename: "obdobie6d3.png",
					description: "akryl, olej na plátne | 2019",
				},
				{
					title: "Z jedného hniezda",
					filename: "obdobie6d4.png",
					description: "akryl na plátne | 2019",
				},
			],
		},
		{
			headline: "2019 - OLTÁRE S ANJELSKÝMI KRÍDLAMI",
			description:
				"Pochopil som, že je potrebné byť otvorený a nechať sa inšpirovať všetkým, čo je človeku blízke.",
			items: [
				{
					title: "Nečakám ťa na kolenách",
					filename: "necakam_ta_na_kolenach_1.jpg",
					description:
						"akryl, olej na lipovom dreve | 2020, text na prednej strane do obrazu vpísal básnik Kamil Peteraj",
				},
				{
					title: "Nečakám ťa na kolenách",
					filename: "necakam_ta_na_kolenach_2.jpg",
					description:
						"akryl, olej na lipovom dreve | 2020, text na prednej strane do obrazu vpísal básnik Kamil Peteraj",
				},
				{
					title: "Pod krídlami III.",
					filename: "pod_kridlami_3.jpg",
					description: "akryl, olej na lipovom dreve | 2020",
				},
				{
					title: "Pod krídlami I.",
					filename: "pod_kridlami_1.jpg",
					description: "akryl, olej na lipovom dreve | 2020",
				},
				{
					title: "Pod krídlami IV.",
					filename: "pod_kridlami_4.jpg",
					description: " akryl, olej na lipovom dreve | 2020",
				},
				{
					title: "Pod krídlami X.",
					filename: "pod_kridlami_10.jpg",
					description: "akryl, olej na lipovom dreve | 2020",
				},
			],
		},
		{
			headline: "2019 - PEVNÉ BODY VO VESMÍRE",
			description:
				"Všetko čo zažívam, zanecháva odtlačok v mojej mysli, duši i srdci.",
			items: [
				{
					title: "Anjel strážny ",
					filename: "obdobie8d1.png",
					description: "ceruzka, pastel, zlatá fólia | 2020",
				},
				{
					title: "Splynutia",
					filename: "obdobie8d2.png",
					description: "ceruzka, pastel, zlatá fólia | 2021",
				},
				{
					title: "Záhrada páva",
					filename: "obdobie8d3.png",
					description: "ceruzka, pastel, koláž, zlatá fólia | 2019",
				},
				{
					title: "Snívanie nebíčka ",
					filename: "obdobie8d4.png",
					description: "ceruzka, pastel, koláž | 2019",
				},
				{
					title: "Modlitba za zdravie",
					filename: "obdobie8d5.png",
					description: "ceruzka, pastel, koláž, zlatá fólia | 2020",
				},
				{
					title: "Zámocké hry II. ",
					filename: "obdobie8d6.png",
					description: "ceruzka, pastel, koláž, zlatá fólia | 2019",
				},
			],
		},
	];

---

<style>
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none;
		/* IE and Edge */
		scrollbar-width: none;
		/* Firefox */
	}

	.scroll4::-webkit-scrollbar {
		width: 5px;
	}

	.scroll4::-webkit-scrollbar-thumb {
		background: #666;
		border-radius: 5px;
	}

	.scroll4::-webkit-scrollbar-track {
		background: #ddd;
		border-radius: 5px;
	}

	
</style>

<section id="cas-plynie" class="py-8 min-h-[100vh]">
	<h2 class="text-gray-500 font-medium text-2xl">Čas plynie</h2>
	<div class="season" id="listing">
		{seasons.map((season) => (
		<div class="my-12 listing">
			<h2 class="text-gray-500 text-lg font-semibold text-align-end mb-4">{season.headline}<span
					class="text-gray-500 pl-4 text-sm font-normal detail-btn cursor-pointer">detail</span>
			</h2>
			<div class="flex gap-2 w-[75vw] overflow-x-auto scroll4">
				{season.items.map((item) => (
				<img src={"/assets/cas_plynie/" + item.filename} alt={item.title}
					class="h-[300px] mb-2 cas-plynie-img" />
				))}
			</div>
			<p class="text-gray-500 mt-2">{season.description}</p>
		</div>
		))}
	</div>
	<div class="season grid grid-cols-2 hidden" id="detail">
		{seasons.map((season, index) => (
		<div class="season-wrapper my-8">
			<div class="season-item w-[400px]">
				<h2 class="text-gray-500 text-lg font-semibold text-align-end mb-4">{season.headline}
				</h2>
				<div id={"season-" + index}>
					<img src={"/assets/cas_plynie/" + season.items[0].filename} alt={season.items[0].title}
						class="h-[550px] mb-2 object-contain cas-plynie img" />
					<h4 class="text-gray-500 font-bold">{season.items[0].title}</h4>
					<div class="flex justify-between">
						<p class="text-gray-500">{season.items[0].description}</p>
						<div class="next">
							<p class="text-gray-500 next cursor-pointer hover-underline-animation" id={"next-" + index}>
								ďalšia</p>
						</div>
					</div>
				</div>
			</div>

		</div>
		))}
	</div>

	
</section>

<script>
	// moving the sliders 
	const elements = document.getElementsByClassName('scroll4');
	let pos = { top: 0, left: 0, x: 0, y: 0 };
	let currentEl = null;
	const mouseDownHandler = function (e) {
		currentEl = e.path[1];

		currentEl.style.cursor = 'grabbing';
		currentEl.style.userSelect = 'none';
		pos = {
			// The current scroll
			left: currentEl.scrollLeft,
			top: currentEl.scrollTop,
			// Get the current mouse position
			x: e.clientX,
			y: e.clientY,
		};

		document.addEventListener('mousemove', mouseMoveHandler);
		document.addEventListener('mouseup', mouseUpHandler);
	};

	const mouseMoveHandler = function (e) {
		// How far the mouse has been moved
		const dx = e.clientX - pos.x;
		const dy = e.clientY - pos.y;

		// Scroll the element
		currentEl.scrollTop = pos.top - dy;
		currentEl.scrollLeft = pos.left - dx;
	};


	const mouseUpHandler = function () {
		document.removeEventListener('mousemove', mouseMoveHandler);
		document.removeEventListener('mouseup', mouseUpHandler);

		currentEl.style.cursor = 'grab';
		currentEl.style.removeProperty('user-select');
	};

	for (let i = 0; i < elements.length; i++) {
		elements[i].addEventListener('mousedown', mouseDownHandler);
	}

	// end moving sliders
	// hide sliders, show detail 
	const detailBtns = document.getElementsByClassName('detail-btn');
	for (let i = 0; i < detailBtns.length; i++) {
		detailBtns[i].onclick = function () {
			let listings = document.getElementById('listing');
			listings.style.display = 'none';
			let detail = document.getElementById('detail');
			detail.style.display = 'grid';
		}
	}

	// end show detail

	// dalsie dielo btn, iterovanie v detaile
	let counters = [];

	const nexts = document.getElementsByClassName('next');
	const seasons = [
		{
			headline: "1988 - EXISTENCIALIZMUS A MAGICKÁ PRAHA",
			description:
				"Pochopil som, že je potrebné byť otvorený a nechať sa inšpirovať všetkým, čo je človeku" +
				"blízke.",
			items: [
				{
					filename: "obdobie1dielo1.png",
					title: "Sen Sv. Šebastiána a horiaci ker ",
					description: "kresba, čierny prírodný uhol, koláž, 1988",
				},
				{
					filename: "obdobie1dielo2.png",
					title: "Dievča z Pigalle ",
					description: "čierny prírodný uhol, 1990",
				},
			],
		},
		{
			headline: "1996 - ZJAVENIE FARBY",
			description: "Fascinuje ma keď farba prichádza na papier prirodzene.",
			items: [
				{
					filename: "obdobie2d1.png",
					title: "Fastnacht in Helvetia ",
					description: "ceruzka, pastel, 1996",
				},
				{
					filename: "obdobie2d2.png",
					title: "Fastnacht in Helvetia",
					description: "ceruzka, pastel | 2004–2005",
				},
				{
					filename: "obdobie2d3.png",
					title: "La Dolce Vita",
					description: "ceruzka, pastel | 2003",
				},
				{
					filename: "obdobie2d4.png",
					title: "Bez názvu",
					description: "ceruzka, pastel, koláž | 2000",
				},
			],
		},
		{
			headline: "2005 - FRANCÚZSKY VPLYV",
			description: "Myslím si, že pekné prostredie nás zušľachťuje a robí",
			items: [
				{
					filename: "obdobie3d1.png",
					title: "Parížanka",
					description: " pastel, ceruzka, koláž na japonskom papieri | 2005",
				},
				{
					filename: "obdobie3d2.png",
					title: "Ružový sen Parížanky",
					description: " pastel, ceruzka, koláž na japonskom papieri | 2005",
				},
				{
					filename: "obdobie3d3.png",
					title: "Parížanka, tichá pošta",
					description: " pastel, ceruzka, koláž | 2005",
				},
			],
		},
		{
			headline: "2009 - AJ VIERA MÁ SVOJE TAJOMSTVÁ",
			description:
				"Vieru vnímam v ustavičnom pohybe a formovanú mojimi skúsenosťami a zážitkami.  Rozhodne to nie je nemenná dogma. Viera je nádej, pocit, zážitok, smútok i radosť. Je  to nedotknuteľná časť môjho ja.",
			items: [
				{
					filename: "obdobie4d1.png",
					title: "Svätá Veronika",
					description: " pastel, ceruzka, koláž na japonskom papieri | 2011",
				},
				{
					filename: "obdobie4d2.png",
					title: "Sv. Magdaléna",
					description: " ceruzka, pastel, koláž na japonskom papieri | 2012",
				},
				{
					filename: "kostol_sedem.jpg",
					title:
						"Pohľad do interiéru kostola Sedem - bolestnej Panny Márie v Bratislave, na pravej strane - Kristus, sedem sviatostí",
					fotoby: "Ivan Karlík",
					description:
						"ceruzka, pastel, koláž na japonskom papieri  nalepené na drevenej doske | 2009",
				},
			],
		},
		{
			headline: "2008 - TEXTY V OBRAZOCH, OBRAZY V TEXTOCH",
			description:
				"Som rád, že umenie nepozná hranice a s obľubou narúša tradičné pravidlá.",
			items: [
				{
					filename: "venovane_lutosti_ceruzka.jpg",
					title: "Venované ľútosti",
					description:
						" ceruzka, pastel, koláž s vpísaným textom Kamila Peteraja | 2010",
				},
				{
					filename: "plazime_sa_navzajom_cez_svoje_duse.jpg",
					title: "Plazíme sa navzájom cez svoje duše...",
					description:
						"ceruzka, pastel, koláž s vpísaným textom Kamila Peteraja | 2010",
				},
				{
					filename: "xxx_ceruzka.jpg",
					title: "XXX...",
					description:
						"ceruzka, pastel, koláž s vpísaným textom Kamila Peteraja | 2010",
				},
				{
					filename: "v_atelieri.jpg",
					title:
						"V ateliéri na Novohradskej ulici s básnikom Kamilom Peterajom pri práci na novom obraze, XXX 2013",
				},
				{
					filename: "xxx_ceruzka_2013.jpg",
					title: "XXX",
					description:
						" ceruzka, pastel, koláž s vpísaným textom Kamila Peteraja | 2013",
				},
			],
		},
		{
			headline: "2016 - MAĽBA UTKANÁ ZO SNOV",
			description:
				"Keď maľujem snažím sa o znázornenie harmónie medzi telesným a duchovným svetom.",
			items: [
				{
					title: "Horizonty",
					filename: "obdobie6d1.png",
					description: "akryl na plátne | 2016",
				},
				{
					title: "Z hĺbky duše",
					filename: "obdobie6d2.png",
					description: "akryl na plátne | 2018",
				},
				{
					title: "Dotyk - anjel strážny",
					filename: "obdobie6d3.png",
					description: "akryl, olej na plátne | 2019",
				},
				{
					title: "Z jedného hniezda",
					filename: "obdobie6d4.png",
					description: "akryl na plátne | 2019",
				},
			],
		},
		{
			headline: "2019 - OLTÁRE S ANJELSKÝMI KRÍDLAMI",
			description:
				"Pochopil som, že je potrebné byť otvorený a nechať sa inšpirovať všetkým, čo je človeku blízke.",
			items: [
				{
					title: "Nečakám ťa na kolenách",
					filename: "necakam_ta_na_kolenach_1.jpg",
					description:
						"akryl, olej na lipovom dreve | 2020, text na prednej strane do obrazu vpísal básnik Kamil Peteraj",
				},
				{
					title: "Nečakám ťa na kolenách",
					filename: "necakam_ta_na_kolenach_2.jpg",
					description:
						"akryl, olej na lipovom dreve | 2020, text na prednej strane do obrazu vpísal básnik Kamil Peteraj",
				},
				{
					title: "Pod krídlami III.",
					filename: "pod_kridlami_3.jpg",
					description: "akryl, olej na lipovom dreve | 2020",
				},
				{
					title: "Pod krídlami I.",
					filename: "pod_kridlami_1.jpg",
					description: "akryl, olej na lipovom dreve | 2020",
				},
				{
					title: "Pod krídlami IV.",
					filename: "pod_kridlami_4.jpg",
					description: " akryl, olej na lipovom dreve | 2020",
				},
				{
					title: "Pod krídlami X.",
					filename: "pod_kridlami_10.jpg",
					description: "akryl, olej na lipovom dreve | 2020",
				},
			],
		},
		{
			headline: "2019 - PEVNÉ BODY VO VESMÍRE",
			description:
				"Všetko čo zažívam, zanecháva odtlačok v mojej mysli, duši i srdci.",
			items: [
				{
					title: "Anjel strážny ",
					filename: "obdobie8d1.png",
					description: "ceruzka, pastel, zlatá fólia | 2020",
				},
				{
					title: "Splynutia",
					filename: "obdobie8d2.png",
					description: "ceruzka, pastel, zlatá fólia | 2021",
				},
				{
					title: "Záhrada páva",
					filename: "obdobie8d3.png",
					description: "ceruzka, pastel, koláž, zlatá fólia | 2019",
				},
				{
					title: "Snívanie nebíčka ",
					filename: "obdobie8d4.png",
					description: "ceruzka, pastel, koláž | 2019",
				},
				{
					title: "Modlitba za zdravie",
					filename: "obdobie8d5.png",
					description: "ceruzka, pastel, koláž, zlatá fólia | 2020",
				},
				{
					title: "Zámocké hry II. ",
					filename: "obdobie8d6.png",
					description: "ceruzka, pastel, koláž, zlatá fólia | 2019",
				},
			],
		},
	];


	for (let i = 0; i < seasons.length; i++) {
		counters[i] = 0;
	}

	for (let i = 0; i < nexts.length; i++) {
		nexts[i].onclick = function (e) {
			let seasonIndex = e.target.id.split('-')[1];
			counters[seasonIndex]++;
			if (counters[seasonIndex] > seasons[seasonIndex].items.length) {
				counters[seasonIndex] = 0;
			}


			let el = document.getElementById('season-' + seasonIndex);
			el.children[0].src = "/assets/cas_plynie/" + seasons[seasonIndex].items[counters[seasonIndex]].filename
			el.children[1].textContent = seasons[seasonIndex].items[counters[seasonIndex]].title
			el.children[2].children[0].textContent = seasons[seasonIndex].items[counters[seasonIndex]].description
		}
	}

	// koniec iterovania, detail


	
	// Get the modal

	// Get the image and insert it inside the modal - use its "alt" text as a caption
	var imgs = document.querySelectorAll(".cas-plynie-img");

	for (let i = 0; i < imgs.length; i++) {
		imgs[i].onclick = (img) => showModal(img.target)
	}
</script>