---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const photos = t("gallery.items");

const bigImages = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/gallery/*",
);
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/gallery-1440/*",
);
---

<style>
  #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #myImg:hover {
    opacity: 0.7;
  }

  /* The Modal (background) */
  .modal {
    /* Stay in place */
    z-index: 50;

    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
  }

  /* Modal Content (Image) *
  /* Add Animation - Zoom in the Modal */
  .modal-content,
  #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @keyframes zoom {
    from {
      transform: scale(0);
    }

    to {
      transform: scale(1);
    }
  }

  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px) {
    .modal-content {
      width: 100%;
    }
  }
</style>
<!--TODO fix opening of photo-->
<section id="galeria" class="px-4 pt-20 md:pr-60 md:py-20">
  <h2 class="font-medium text-xl text-gray-500 mb-4">{t("gallery.title")}</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    {
      photos.map((item) => (
        <div>
          <div class="text-sm text-gray-500 cursor-pointer">
            <Image
              src={bigImages["/src/assets/gallery/" + item.image]()}
              data-image={item.image}
              alt={item.title}
              class="md:h-60 object-cover w-full modalImg rounded-md"
            />
            <p class="pt-2 md:hidden">{item.title}</p>
          </div>
        </div>
      ))
    }
  </div>
</section>

<!-- {
  photos.map((item) => (
    <div>
      <div class="text-sm text-gray-500 cursor-pointer">
        <Image
          src={images["/src/assets/gallery-1440/" + item.image]()}
          id={"/src/assets/gallery-1440/" + item.image}
          alt={item.title}
          class="h-[1400px] w-[1440px] object-contain hidden"
        />
        <p class="pt-2 md:hidden">{item.title}</p>
      </div>
    </div>
  ))
} -->

<script>
  // Get the image and insert it inside the modal - use its "alt" text as a caption
  var imgs = document.getElementsByClassName("modalImg");

  for (let i = 0; i < imgs.length; i++) {
    imgs[i].onclick = (img) => {
      img = img.target;
      console.log(img.srcset);

      showModal(
        "/assets/gallery-1440/" + img.getAttribute("data-image"),
        img.alt,
      );
    };
  }
</script>
