---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const spolupraca = t("coworkWithIkar.items");
---

<section id="ikar" class="px-4 pt-20">
  <h2 class="text-gray-500 text-xl font-medium mb-4">
    {t("coworkWithIkar.title")}
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2">
    {
      spolupraca.map((item) => (
        <div class="w-full my-6 md:py-12 md:h-72">
          <div class="flex">
            <img
              src={"/assets/" + item.image}
              alt={item.title}
              class="w-32 md:w-52 object-contain mr-4 h-full my-auto modal-src"
            />
            <div class="my-auto">
              <h2 class="text-md font-medium">{item.title}</h2>
              <p class="text-gray-500 text-sm my-1">{item.authors}</p>
              <p class="text-gray-500 text-sm mb-2">{item.vydavatelstvo}</p>
              <a
                href={item.link}
                target="_blank"
                class="border border-black py-0.5 px-6 rounded-md"
                rel="nofollow noopener"
              >
                <button class="btn">
                  <span class="text-sm text-black">viac</span>
                </button>
              </a>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>
