---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const kresba = t("work.drawing.items")[0];
const malba = t("work.painting.items")[0];
---

<style>

</style>
<section id="tvorba" class="px-4 py-8 md:flex gap-18">
  <div class="kresba flex-1 md:pr-40 pb-8">
    <h2 class="text-gray-500 text-xl font-medium mb-2">
      {t("work.drawing.title")}
    </h2>
    <div class="items w-full">
      <div class="item overflow-hidden" id="kresba">
        <img
          src={"/assets/" + kresba.image}
          alt={kresba.title}
          class="w-full object-contain h-[500px] md:h-[600px] modal-src rounded-md"
        />
        <h3 class="text-gray-500 font-medium mt-2">{kresba.title}</h3>

        <div class="flex justify-between items-center">
          <p class="text-gray-500 text-sm" id="kresba-description">
            {kresba.description} | {kresba.date}
          </p>
          <button
            class="text-gray-500 text-sm hover-underline-animation"
            id="next-kresba"
          >
            {t("utils.next")}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="malba flex-1 md:pr-40">
    <h2 class="text-gray-500 text-xl font-medium mb-2">
      {t("work.painting.title")}
    </h2>
    <div class="items w-full">
      <div class="item overflow-y-hidden" id="malba">
        <img
          src={"/assets/" + malba.image}
          alt={malba.title}
          class="w-full object-contain modal-src rounded-md h-[500px] md:h-[600px]"
        />
        <h3 class="text-gray-500 font-medium mt-2">{malba.title}</h3>

        <div class="flex justify-between items-center">
          <p class="text-gray-500 text-sm" id="malba-description">
            {malba.description} | {malba.date}
          </p>
          <button
            class="text-gray-500 text-sm hover-underline-animation"
            id="next-malba"
          >
            {t("utils.next")}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<script
  define:vars={{
    malba: t("work.painting.items"),
    kresba: t("work.drawing.items"),
  }}
>
  // function getImageUrl(name) {
  //   return new URL(`../assets/images/${name}`, import.meta.url).href;
  // }

  var kresba_active_index = 0;
  var malba_active_index = 0;

  function switchImage(id, data) {
    let con = document.getElementById(id);
    con.classList.toggle("fade-out");
    setTimeout(() => {
      con.children[0].src = "/assets/" + data.image;
      con.children[1].innerText = data.title;
      con.classList.toggle("fade-out");
    }, 500);
    document.getElementById(id + "-description").innerText =
      data.description + " | " + data.date;
  }

  function increaseKresbaActiveIndex() {
    kresba_active_index++;
    if (kresba_active_index >= kresba.length) {
      kresba_active_index = 0;
    }
    switchImage("kresba", kresba[kresba_active_index]);
  }

  function increaseMalbaActiveIndex() {
    malba_active_index++;
    if (malba_active_index >= malba.length) {
      malba_active_index = 0;
    }
    switchImage("malba", malba[malba_active_index]);
  }

  document.getElementById("next-kresba").onclick = () =>
    increaseKresbaActiveIndex();
  document.getElementById("next-malba").onclick = () =>
    increaseMalbaActiveIndex();

  var imgs = document.querySelectorAll(".modal-src");

  for (let i = 0; i < imgs.length; i++) {
    imgs[i].onclick = (img) => {
      showModal(img.target.src, img.target.alt);
    };
  }

  function preloadImage(url) {
    var img = new Image();
    img.src = url;
  }

  function preloadAllImages() {
    for (let i = 0; i < kresba.length; i++) {
      preloadImage("/assets/" + kresba[i].image);
    }
    for (let i = 0; i < malba.length; i++) {
      preloadImage("/assets/" + malba[i].image);
    }
  }
  preloadAllImages;
</script>

<style>
  .item.fade-out > .modal-src {
    transform: translateY(-100%);
  }

  .item > .modal-src {
    transform: translateY(0);
    transition: transform 0.5s;
  }

  .item > h3 {
    opacity: 1;
    transition: opacity 0.5s;
  }

  .item.fade-out > h3 {
    opacity: 0;
  }

  .item > div {
    opacity: 1;
    transition: opacity 0.5s;
  }

  .item.fade-out > div {
    opacity: 0;
  }
</style>
