---
// const video = {
//   type: "yotuube",
//   link: "https://www.youtube.com/embed/z9uVCpjJgv8",
// };

const videos = [
  {
    type: "raw",
    link: "/assets/video/Vyznania JOJ.mp4",
    image: "/assets/videa/vyznania_markiza.png",
    text: "Vyznania Kamila Peteraja | Markíza",
  },

  {
    type: "raw",
    link: "/assets/video/Vyznania Markiza.mp4",
    text: "Nová kniha Kamila Peteraja | Markíza",
    image: "/assets/videa/vyznania_markiza_2.png",
  },
  {
    type: "raw",
    link: "/assets/video/Vyznania RTVS.mp4",
    text: "Vyznania Kamila Peteraja | RTVS",
    image: "/assets/videa/vyznania_rtvs.png",
  },
  {
    type: "redirect",
    link: "https://www.youtube.com/watch?v=z9uVCpjJgv8",
    image: "/assets/videa/obrazy_v_textoch.webp",
    text: "Texty v obrazoch | Obrazy v textoch (Kamil&nbsp;Peteraj&nbsp;a&nbsp;Martin&nbsp;Augustín)",
  },
  {
    type: "redirect",
    link: "https://www.youtube.com/watch?v=St63eT8PlPk",
    text: "Martin Augustin - Ateliér tajomstiev",
    image: "/assets/videa/atelier_tajomstiev.png",
  },

  {
    type: "redirect",
    link: "https://www.youtube.com/watch?v=85qyGQwXlCk",
    text: "Kamil Peteraj: Bosá v priesvitných šatách",
    image: "/assets/videa/bosa_v_priesvitnych_satach.png",
  },

  {
    type: "redirect",
    link: "https://www.youtube.com/watch?v=f9KTa1UA67M",
    text: "Martin Augustín & Kamil Peteraj: Slová v obrazoch – obrazy v&nbsp;slovách 1",
    image: "/assets/videa/slova_v_obrazoch1.jpg",
  },

  {
    type: "redirect",
    link: "https://www.youtube.com/watch?v=nMIJhZMCJNM",
    text: "Martin Augustín & Kamil Peteraj: Slová v obrazoch – obrazy v&nbsp;slovách 3",
    image: "/assets/videa/slova_v_obrazoch3.jpg",
  },

  {
    type: "redirect",
    link: "https://www.ta3.com/relacia/20291/atelier-tajomstiev-manzelstvo-celebrit-prelomu-storocia-restaurovanie-filmov-na-kavicke-s-barborou-bobulovou",
    text: "Ateliér tajomstiev TA3",
    image: "/assets/videa/atelier_ta3.png",
  },
  {
    type: "redirect",
    link: "https://www.ta3.com/relacia/11043/na-co-je-nam-vizualne-umenie",
    text: "Na čo je nám vizuálne umenie TA3",
    image: "/assets/videa/naco-je-nam-vizualne-umenie.png",
  },
  {
    type: "redirect",
    link: "https://www.rtvs.sk/televizia/archiv/14625/264389",
    image: "/assets/videa/kultura_sk.png",
    text: "Kultúra SK RTVS",
  },
  // broken llink
  // {
  //   type: "redirect",
  //   link: "https://fb.watch/dKNzq6DjW7/",
  //   image: "videa/facebook_obrazy.jpg",
  // },
];
---

<style is:global>
  .hover-underline-animation {
    display: inline-block;
    position: relative;
    /* color: black; */
  }

  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: rgb(107 114 128);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
</style>

<section id="video" class="py-8 md:pr-60 px-4">
  <h2 class="text-gray-500 font-medium mb-4 text-xl">Video</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    {
      videos.map((video) => {
        if (video.type === "redirect") {
          return (
            <div class="mb-6">
              <a
                href={video.link}
                target="_blank"
                class="w-full flex justify-center"
              >
                <div class="relative w-full">
                  <img
                    src={video.image}
                    class="rounded-md h-64 w-full object-cover"
                  />
                  <img
                    src="/assets/icons/play-512.png"
                    class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 h-12"
                  />
                </div>
              </a>
              <p class="text-gray-500 text-sm pt-2" set:html={video.text} />
            </div>
          );
        } else if (video.type === "raw") {
          return (
            <div>
              <div class="relative">
                <video
                  class="w-full rounded-md h-64"
                  poster={video.image}
                  controls
                >
                  <source src={video.link} type="video/mp4" />
                </video>
                <img
                  src="/assets/icons/play-512.png"
                  class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 h-12 z-20 player-icon"
                />
                <img
                  src={video.image}
                  class="object-cover rounded-md h-64 w-full z-10 top-0 absolute video-cover"
                />
              </div>

              <p class="text-gray-500 text-sm pt-2" set:html={video.text} />
            </div>
          );
        }
      })
    }
  </div>
</section>

<script>
  function startVideo(el) {
    let parrent = el.parentElement;
    parrent.querySelector(".player-icon").classList.toggle("hidden");
    parrent.querySelector(".video-cover").classList.toggle("hidden");

    parrent.querySelector("video").play();
  }

  document.querySelectorAll(".video-cover").forEach((el) => {
    el.addEventListener("click", () => {
      startVideo(el);
    });
  });

  document.querySelectorAll(".player-icon").forEach((el) => {
    el.addEventListener("click", () => {
      startVideo(el);
    });
  });
</script>
